<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Test View</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="javascripts/angular.js"></script>
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/angular-route.js"></script>
    <script src="javascripts/centrality.js"></script>

</head>
<body>
<div class="container" ng-app="centrality">
    <div ng-controller="CentralityController as ctrl">
        <div class="panel panel-primary">
            <div class="panel-heading">
                FILE-NAME GOES HERE:
                <a href="#" class="pull-right" style="color: white" data-toggle="tooltip" title="Export to csv" data-placement="bottom" ng-click="csv(fileName)"><span class="glyphicon glyphicon-export"></span></a>
            </div>
            <div class="panel-body">
            <table class="table table-bordered">
        <thead>
        <tr>
            <th>Startup_id</th>
            <th>Startup_name</th>
            <th>Degree</th>
            <th>Betweenness</th>
            <th>Closeness</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="i in range((pag-1)*rows, (pag*rows)-1)">
            <td ng-repeat="j in json[i]">{{j}}</td>
        </tr>
        </tbody>
        </table>
    <ul class="pagination">
        <li ng-hide="disableLeft"><a href="#" ng-click="paginate(pag-1)"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
        <li ng-repeat="i in range(1, (json.length /rows)+1)" ng-class="[{active: pag == i}]" ><a href="#" ng-click="paginate(i)">{{i}}</a></li>
        <li ng-hide="disableRight"><a href="#" ng-click="paginate(pag+1)"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
        <!--<li ng-class="[{active: pag == 2}]" ><a href="#" ng-click="pag = 2">2</a></li>
        <li ng-class="[{active: pag == 3}]"><a href="#" ng-click="pag = 3">3</a></li>
        <li ng-class="[{active: pag == 4}]"><a href="#" ng-click="pag = 4">4</a></li>
        <li ng-class="[{active: pag == 5}]"><a href="#" ng-click="pag = 5">5</a></li>-->
    </ul>
        </div>
        </div>
    </div>
</div>

</body>
</html>